{% extends "base.html" %}

{% load static from staticfiles %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/likes.js' %}"></script>
<script type="text/javascript">
    jQuery(function($) {
        $("#like-movie").likeBtn();
    });
</script>
{% endblock %}

{% block content %}
<h2>{{ object.name }} ({{ object.year }})</h2>
<img src="{{ object.cover.url }}" class="cover" alt="cover" />
<p>
  <a href="{% url 'movies:ajax_like' %}" id="like-movie"
     data-count="{{ object.likes }}" data-pk="{{ object.pk }}"
     style="display: none">Like</a>
</p>
<p>{{ object.description }}</p>
<h3>Director</h3>
<a href="{{ object.director.get_absolute_url }}">{{ object.director.get_full_name }}</a>
<h3>Cast</h3>
<ul>
  {% for actor in object.actors.all %}
  <li><a href="{{ actor.get_absolute_url }}">{{ actor.get_full_name }}</a></li>
  {% endfor %}
</ul>
{% with director as object.director %}
{% if director %}
<h3>Director</h3>
<a href="{{ director.get_absolute_url }}">{{ director.get_full_name }}</a>
{% endif %}
{% endwith %}
{% endblock %}
